/*
GENERAL
========================
*/

body {
  font-family: 'proxima-nova';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/*
HOME
*/

.home-body {
  margin-top: 50px;
}


/*
NAVBAR
========================
*/


.navbar {
  margin: 0;
}

.navbar-default {
  background-color: #FFF;
  border: 1px solid #EEE;
}

.navbar {
  min-height: 60px;
  font-size: 14px;
}

.navbar-nav > li > a {
  padding: 20px 20px;
}

.navbar-nav > li {
  border-left: 1px solid #EEE;
}
.navbar-nav > li:hover {
background: #F9F9F9;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #F9F9F9;
  text-shadow: 1px 1px #fff;
}

.navbar-brand {
  font-size: 1.3em;
  margin-top: 5px;
}

.blog-brand {
  font-weight: bold;
  margin-left: 10px;
  font-size: 12px;
}

.navbar-brand .fa-briefcase {
  color: #428bca;
  margin-right: 0.5em;
}

.icon-cart {
  margin-right: 10px;
}

/*
INFOS ARTICLE
========================
*/

.infos-article {
  font-size: 15px;
  margin: 25px 20px 0 0;
  text-align: right;
}

.author-picture {
  border-radius: 5px;
}

.informations-aside {
  color: #999;
}

.informations-aside p {
  margin: 5px 0;
}

.comments-link, .comments-link:hover {
  color: #999;
}

/*
BOUTONS DE PARTAGE
========================
*/

.share-buttons {
  margin: 30px 0 10px 0;
}

.fa-facebook, .fa-twitter, .fa-linkedin {
  margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #111;
    border: 2px solid #111!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn:visited {
    color: #fff;
}
.btn:hover {
    color: #111;
    background-color: #fff;
}
.btn {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-fb {
    background-color: #3B5998;
    border: 2px solid #3B5998 !important;
}
.btn-fb:hover {
    color: #3B5998;
}
.btn-twitter {
    background-color: #4099FF;
    border: 2px solid #4099FF !important;
}
.btn-twitter:hover {
    color: #4099FF;
}
.btn-linkedin {
    background-color: #007bb6;
    border: 2px solid #007bb6 !important;
}
.btn-linkedin:hover {
    color: #007bb6;
}
.btn-cta {
    background-color: #4099FF;
    border: 2px solid #4099FF !important;
}
.btn-cta:hover {
    color: #4099FF;
}


/*
ARTICLE
========================
*/

.article-col {
  margin-left: 30px;
}

.article-title a {
  color: black;
}

.article-title a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-body {
  font-size: 20px;
  line-height: 28px;
  margin-top: -5px;
}

.article-body p {
  margin-bottom: 2rem;
}

.article-date {
  color: #aaa;
  font-size: 14px;
}

.articles-separator {
  margin: 30px 0;
}

.article-cta {
  font-size: 20px;
  margin: 30px 0;
  padding: 30px 20px 10px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #f8f8f8;
}

.article-description {
  color: #999;
}

.article-image {

}

h1 {
  margin-bottom: 0.6em;
}

h2 {
  margin: 2em 0 1em;
}

.article-col img {
  display: block;
  margin: 30px auto;
}

/*
FOOTER
========================
*/

.site-footer {
  margin-top: 100px;
  padding: 30px 0;
  color: #aaa;
}

.rss {
  float: right;
}

.rss .fa-rss {
  margin-right: 10px;
}