---
layout: default

title: "Firmapi &mdash; Blog"
---

<div class="container home-body">
  <div class="row">
    <div class="col-md-4 visible-lg">
      <div class="fixed">
        {% include newsletter-left.html %}
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-left-home">
      {% for post in site.posts %}
      <div class="article-col">
        <article class="article-body">
          <div class="index-title">
            <h2 class="article-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p  class="article-description">{{ post.description }}</p>
            <div class="row">
              <div class="col-md-6">
                <p class="article-date">{{ post.author }} | {{ post.date | date: "%d/%m/%Y" }} | <a class="comments-link" href="{{ post.url }}#disqus_thread">Commentaires</a></p>
              </div>
              <div class="col-md-6 share-list visible-lg">
                {% include share-list.html %}
              </div>
            </div>
            <hr class="articles-separator">
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
