---
layout: default

title: "Firmapi &mdash; Blog"
---

<div class="container home-body">
  <div class="row">
    <div class="col-md-4 visible-lg">
      <div class="fixed">
        {% include left-col.html %}
      </div>
    </div>
    <div class="col-lg-8 col-md-12">
      {% for post in site.posts %}
      <div class="article-col">
        <article class="article-body">
          <div class="index-title">
            <img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive img-rounded" />
            <h2 class="article-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p  class="article-description">{{ post.description }}</p>

            <div class="row">
              <div class="col-md-6">
                <p class="article-date">{{ post.author }} | {{ post.date | date: "%d/%m/%Y" }} | <a class="comments-link" href="{{ post.url }}#disqus_thread">Commentaires</a></p>
              </div>
              <div class="col-md-6 share-twitter-list">
                Partager :
                <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}','Partager sur Facebook','menubar=no, status=no, scrollbars=no, menubar=no, width=520, height=570');">Facebook</a>
                | <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ post.url }}&text={{ post.title | uri_escape }}&related={{ post.author_twitter }}&via=_Firmapi" target="_blank">Twitter</a>
                | <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url }}&title={{ CGI::escape(post.title) }}&summary={{ CGI::escape(post.description) }}&source={{ CGI::escape(site.owner.name) }}', 'Partager sur LinkedIn','menubar=no, status=no, scrollbars=no, menubar=no, width=520, height=570');">Linkedin</a>
              </div>
            </div>
            <hr class="articles-separator">
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
