<div class="navigation-categories-container visible-lg">
  <div class="container">
    <div class="navigation-categories">
      <div>
        <ul class="nav nav-pills nav-justified">
          {% if page.tag == 'prospection' || page.tag == 'prospection' %}
            <li><a href="/category/prospection" class="active"><strong><i class="fa fa-briefcase"></i> Prospection</strong></a></li>
          {% else %}
            <li><a href="/category/prospection"><strong><i class="fa fa-briefcase"></i> Prospection</strong></a></li>
          {% endif %}

          {% if page.tag == 'technique' || page.tag == 'technique' %}
            <li><a href="/category/technique" class="active"><strong><i class="fa fa-cogs"></i> Technique</strong></a></li>
          {% else %}
            <li><a href="/category/technique"><strong><i class="fa fa-cogs"></i> Technique</strong></a></li>
          {% endif %}

          <div class="hidden">
          {% if page.tag == 'firmapi' || page.tag == 'firmapi' %}
            <li><a href="#" class="active"><strong><i class="fa fa-user"></i> Firmapi</strong></a></li>
          {% else %}
            <li><a href="#"><strong><i class="fa fa-user"></i> Firmapi</strong></a></li>
          {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>