<div class="navigation-categories-container visible-lg">
  <div class="container">
    <div class="navigation-categories">
      <div>
        <ul class="nav nav-pills nav-justified">
          {% if page.tag == 'vente' || page.tag == 'vente' %}
            <li><a href="/category/vente" class="active"><strong><i class="fa fa-briefcase"></i> Vente</strong></a></li>
          {% else %}
            <li><a href="/category/vente"><strong><i class="fa fa-briefcase"></i> Vente</strong></a></li>
          {% endif %}

          {% if page.tag == 'technique' || page.tag == 'technique' %}
            <li><a href="/category/technique" class="active"><strong><i class="fa fa-cogs"></i> Technique</strong></a></li>
          {% else %}
            <li><a href="/category/technique"><strong><i class="fa fa-cogs"></i> Technique</strong></a></li>
          {% endif %}

          {% if page.tag == 'firmapi' || page.tag == 'firmapi' %}
            <li><a href="/category/firmapi" class="active"><strong><i class="fa fa-user"></i> Firmapi</strong></a></li>
          {% else %}
            <li><a href="/category/firmapi"><strong><i class="fa fa-user"></i> Firmapi</strong></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>