<div class="cta-header hidden-xs">
  <p>Trouvez vos prochains clients ou fournisseurs maintenant. C'est gratuit.</p>
  <form method="get" action="https://firmapi.com/search" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control input-lg" name="q" placeholder="Lister des entreprises par mot clé..." autocomplete="off" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn-lg btn btn-success btn-lg">
        <div class="fa fa-search"></div>
      </button>
    </div>
  </form>
</div>