<footer class="site-footer">
  <div class="container">
    <hr>
    <span class="follow-footer-incent">Suivez Firmapi :</span><a class="follow-footer" href="https://twitter.com/_Firmapi"><i class="fa fa-twitter"></i></a> <a class="follow-footer" href="https://www.linkedin.com/company/firmapi"><i class="fa fa-linkedin"></i></a>
    <a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss"></span>RSS</a>
  </div>
</footer>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'firmapi'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

