<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="brand-container">
          <a class="navbar-brand" data-no-turbolink="true" href="/">
            <img src="https://d144bz4d6i1vob.cloudfront.net/firmapi/firmapi_home.png" alt="Firmapi">
            <span class="blog-brand">BLOG</span>
          </a>
          <a class="backtowebsite" href="https://firmapi.com">Accéder à Firmapi</a>
        </div>
      </div>
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if page.tag == 'vente' || page.tag == 'vente' %}
            <li><a href="/category/vente" class="active"><strong><i class="fa fa-briefcase"></i> Vente</strong></a></li>
          {% else %}
            <li><a href="/category/vente"><strong><i class="fa fa-briefcase"></i> Vente</strong></a></li>
          {% endif %}

          {% if page.tag == 'marketing' || page.tag == 'marketing' %}
            <li><a href="/category/marketing" class="active"><strong><i class="fa fa-line-chart"></i> Marketing</strong></a></li>
          {% else %}
            <li><a href="/category/marketing"><strong><i class="fa fa-line-chart"></i> Marketing</strong></a></li>
          {% endif %}

          {% if page.tag == 'technique' || page.tag == 'technique' %}
            <li><a href="/category/technique" class="active"><strong><i class="fa fa-cogs"></i> Technique</strong></a></li>
          {% else %}
            <li><a href="/category/technique"><strong><i class="fa fa-cogs"></i> Technique</strong></a></li>
          {% endif %}

          {% if page.tag == 'firmapi' || page.tag == 'firmapi' %}
            <li><a href="/category/firmapi" class="active"><strong><i class="fa fa-user"></i> Nous</strong></a></li>
          {% else %}
            <li><a href="/category/firmapi"><strong><i class="fa fa-user"></i> Nous</strong></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
