<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" data-no-turbolink="true" href="/">
          <img src="https://d144bz4d6i1vob.cloudfront.net/firmapi/logo.png" alt="Firmapi">
          <span class="blog-brand">BLOG</span>
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://firmapi.com"><span class="fa fa-area-chart icon-cart"></span><strong>Découvrez nos services</strong></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
