<div class="cta_left">
  <h3>Recevez les prochains articles</h3>
  <p>Obtenez les derniers conseils et techniques gratuitement par email.</p>

  <form action="//firmapi.us9.list-manage.com/subscribe/post?u=dd719da28785e1e9474b84eec&amp;id=58306dbc9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <div class="mc-field-group gap-md">
      <input type="text" value="" name="FNAME" class="required form-control input-lg" id="mce-FNAME" placeholder="Prénom" style="width: 280px;">
    </div>

    <div class="form-group gap-md">
      <input type="email" value="" name="EMAIL" class="required form-control input-lg" id="mce-EMAIL" placeholder="Email" style="width: 280px;">
    </div>

    <input type="submit" value="Rejoignez-nous" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg gap-md">

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_dd719da28785e1e9474b84eec_58306dbc9d" tabindex="-1" value=""></div>
  </form>
</div>