<div class="share-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="_Firmapi" data-lang="fr" data-related="_Firmapi">Tweeter</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<br/>

<div class="share-button">
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: fr_FR
  </script>
  <script type="IN/Share" data-counter="top"></script>
  </script>
</div>

<br/>

<div class="share-button">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=785120568217551&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-share-button" data-layout="box_count"></div>
</div>

<br/>

<div class="share-button">
  <!-- Placez cette balise dans l'en-tête ou juste avant la balise de fermeture du corps de texte. -->
  <script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'fr'}
  </script>

  <!-- Placez cette balise où vous souhaitez faire apparaître le gadget bouton "Partager". -->
  <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>
</div>