<div class="visible-xs visible-sm share-mobile">
  <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title | uri_escape }}&related={{ page.author_twitter }},_Firmapi&via=_Firmapi" target="_blank" class="btn-twitter"><i class="fa fa-twitter"></i></a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ CGI::escape(page.title) }}&summary={{ CGI::escape(page.description) }}&source={{ CGI::escape(site.owner.name) }}" target="blank" id="linkedin-btn" class="btn-linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" id="facebook-btn" class="btn-fb"><i class="fa fa-facebook"></i></a>
</div>
