---
layout: default
---

<div class="container home-body">
  <div class="row">
    <div class="col-md-1 visible-md  visible-lg">
    </div>
    <div class="col-md-1 visible-md  visible-lg share-col">
      <div class="share-buttons">
      {% include share-buttons.html %}
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="article-col">
        <h1 class="article-title article-title-page">{{ page.title }}</h1>
        <div id="twitter-alert" class="hidden-xs hidden-sm hidden-md">
          <div class="wording">Rejoignez-nous sur Twitter</div>
          <a href="https://twitter.com/_Firmapi" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @_Firmapi</a>
          <div id="close-twitter-alert" class="fa fa-close"></div>
        </div>
        <article class="article-body">
          {{ content }}
          <hr class="article-end-line">
          <p class="article-date pull-right visible-lg">Article publié le {{ page.date | date: "%-d/%m/%Y" }} dans <a class="comments-link" href="/category/{{ page.tag }}" title="Voir tous les articles classés dans {{ page.tag_pretty_name }}">{{ page.tag_pretty_name }}</a></p>
          <img class="author-pic" src="{{ page.gravatar }}" alt="{{ page.author }}" >
          <div class="author-name">{{ page.author }}<a href="https://twitter.com/{{ page.author_twitter }}" class="author-twitter" target="_blank"><i class="fa fa-twitter"></i></a></div>

        </article>

        {% include newsletter-end.html %}

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'firmapi'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        </div>
      </div>
      <div class="col-md-1 visible-md visible-lg">
      </div>
    </div>
  </div>

{% include share-mobile.html %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>