---
layout: default
title: 'Tous les articles !CATEGORY!'
---

<div class="container home-body">
  <h1 id="category_name">{{ page.tag }}</h1>
    <div class="row">
      <div class="col-md-4 visible-lg">
        <div class="fixed">
          {% include left-col.html %}
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-left-home">
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == page.tag %}
        <div class="article-col">
          <article class="article-body">
            <div class="index-title">
              <h2 class="article-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p  class="article-description">{{ post.description }}</p>
              <div class="row">
                <div class="col-md-6">
                  <p class="article-date">{{ post.author }} | {{ post.date | date: "%d/%m/%Y" }} | <a class="comments-link" href="{{ post.url }}#disqus_thread">Commentaires</a></p>
                </div>
                <div class="col-md-6 share-list visible-lg">
                  {% include share-list.html %}
                </div>
              </div>
              <hr class="articles-separator">
            </div>
          </article>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
  <script>
    function capitaliseFirstLetter(string) { return string.charAt(0).toUpperCase() + string.slice(1); }
    document.getElementById('category_name').innerHTML = capitaliseFirstLetter(document.getElementById('category_name').innerHTML);
  </script>
</div>